@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 71, 84, 103;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-secondary dark:text-white;
  }

  .text-balance {
    text-wrap: balance;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .btn {
    @apply flex active:scale-95 transition-all duration-300 justify-center items-center px-[14px] py-[12px] bg-[#F2F2F2] border border-transparent font-normal text-base text-primary capitalize tracking-widest hover:opacity-90  disabled:opacity-60 rounded-lg;
  }
  .input {
    @apply text-[#475467] border border-[#D2D2D7] rounded-[6px] px-[14px] py-[10px] w-full pr-11 outline-none focus:border-gray-400 dark:bg-gray-800 dark:text-white dark:placeholder:text-white/60 dark:border-gray-600;
  }
  .template {
    @apply bg-white dark:bg-gray-700 rounded-lg border border-[#EDEFEB] dark:border-gray-600;
  }
}

.apexcharts-svg {
  background: transparent !important;
}
