@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 71, 84, 103;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
html{
  padding:0 !important;
}
@layer utilities {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-secondary dark:text-white;
  }

  .text-balance {
    text-wrap: balance;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .btn {
    @apply flex active:scale-95 transition-all duration-300 justify-center items-center px-[14px] py-[10px] bg-[#F2F2F2] dark:bg-transparent border border-transparent dark:border-gray-400 font-normal text-xs sm:text-sm text-primary dark:text-white/90 capitalize tracking-widest hover:opacity-90  disabled:opacity-60 rounded-lg outline-none;
  }
  .input {
    @apply text-[#475467] border border-[#D2D2D7] rounded-[6px] px-[14px] py-[10px] w-full pr-11 outline-none focus:border-gray-400 dark:bg-gray-800 dark:text-white dark:placeholder:text-white/60 dark:border-gray-600 text-sm;
  }
  .template {
    @apply bg-white dark:bg-gray-800 rounded-lg border border-[#EDEFEB] dark:border-gray-600;
  }
}

.apexcharts-svg {
  background: transparent !important;
}

.ck-editor__editable_inline {
  min-height: 260px;
}
/* @media (prefers-color-scheme: light) {
  .ck.ck-button:not(.ck-disabled):hover, .ck-dropdown__panel, .ck-editor__editable_inline, .ck-list {
     background: white !important;
     color: #333 !important;
   }
   .ck-toolbar {
     background: #fff !important;
     color: #333 !important;
   }
   .ck,
   .ck-button__label,
   .ck-icon {
     color: #333 !important;
   }
 } */
/* @media (prefers-color-scheme: dark) { */
  .dark_editor .ck.ck-button:not(.ck-disabled):hover,   .dark_editor .ck-dropdown__panel,  .dark_editor .ck-editor__editable_inline,  .dark_editor .ck-list {
    background: #1f2937 !important;
    color: #ffffff90 !important;
  }
  .dark_editor .ck-toolbar {
    background: #1f2937 !important;
    color: #ffffff90 !important;
  }
  .dark_editor .ck,
  .dark_editor .ck-button__label,
  .dark_editor .ck-icon {
    color: #ffffff90 !important;
  }
/* } */
